  <div class="custom-css w-embed">
    <style>
      .header-excerpt
      {
        max-width: 850px;
      }
      .service-content
      {
        line-height: 32px;
      }
      .announce-card, .moment-card
      {
        min-height: 0;
      }
      .section-success
      {
        z-index: 999;
      }
      @media screen and (min-width: 1024px)
      {
        .parokya-img {
          position: sticky;

          top: 120px;
        }
      }
      /*CUSTOM CSS*/
      h1,h2,h3,h4,h5,h6
      {
       padding: 0;
       margin: 0;
     }
     .richtext ul li::marker
     {
       font-size: 20px;
       color: green;
     }
     /*FOR Removing Select Icon*/
     select 
     {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }
    
    .select-icon, .calendar
    {
      pointer-events:none;
    }
    .underline-text, .cta-link ,.social-text
    {
      overflow: hidden;
      position: relative;
    }
    .underline-text::before , .cta-link::before, .social-text::before
    {
     content: "";
     position: absolute;
     top: auto;
     left: auto;
     right: auto;
     bottom:0;
     width: 100%;
     height: 2px;
     background-color: #52070B;
     transition: all .5s;
     transform: translateX(-110%);
   }
   .cta-link::before
   {
     background-color: #100A0A;
     height: 1px;
   }
   .underline-text:hover::before , .cta-link:hover::before, .social-text:hover::before
   {
     transform: translateX(0);
   }
   .home-service-list.owl-carousel .owl-item img
   {
     width: auto;
   }
   .service-dot-container .owl-dot, .announce-dot-container .owl-dot, .gallery-dot-container .owl-dot
   {
     width:10px;
     height: 10px;
     background-color: #C7C6B8;
     border-radius: 100%;
     margin: 0 5px;
     padding:0px;
   }
   .service-dot-container .owl-dot.active, .announce-dot-container .owl-dot.active, .gallery-dot-container .owl-dot.active
   {
    background-color: #9FA28C;
  }
  .moment-list.owl-carousel .owl-item:nth-child(even)
  {
   padding-top: 40px;
 }
 .cta-link
 {
   word-break: break-all;
 }
 /* For Chrome and Safari */
 .table-container::-webkit-scrollbar 
 {
  width: 5px; /* width of the scrollbar */
  background-color: #CDCDCD; /* background color of the scrollbar */
}
.table-container::-webkit-scrollbar-thumb 
{
  background-color: #807D7D; /* color of the thumb */
}
/* For Firefox and Microsoft Edge */
.table-container::-moz-scrollbar 
{
  width: 5px; /* width of the scrollbar */
  background-color: #CDCDCD; /* background color of the scrollbar */
  border-top-right-radius: 10px;
}
.table-container::-moz-scrollbar-thumb 
{
  background-color: #807D7D; /* color of the thumb */
}
.code 
{
  width: 56px;
  height: 51px;
  margin-bottom: 0px;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(16, 10, 10, 0.12);
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 767px)
{
  .code 
  {
    width: 45px !important;
    height: 45px !important;
    padding: 12px !important;
  }
}
.code-con 
{
  display: -ms-grid;
  display: grid;
  margin: 15px;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.already-text a
{
  color: #52070b;
  text-decoration: none;
}
.rotate-arrow 
{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pagination .page-btn, .next-btn, .prev-btn, .ellipsis
{
  background-color: #EFEFEF;
  padding: 9px 12px;
  margin: 7px;
  font-family: Lato, sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
}
.pagination .page-btn.active-page
{
	background-color: #D3D3D3;
}
.option
{
  color: #100A0A;
}
.option:hover
{
  color: #fff !important;
  background-color: #8F0F16 !important;
}
.border-bot-right, .border-top-left
{
	pointer-events: none;
}
/* For Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

/* For Edge and IE */
input[type="date"]::-ms-clear,
input[type="date"]::-ms-reveal {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
.circle {
  margin-right: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #B38600;
}
.textarea-wrapper
{
  width: 100%;
  max-width: 100%;
}
.input-area {
  width: 100% !important;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  min-height: 180px;
  padding: 10px;
  outline: none;
}
.section-success {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  height: 100vh;
  padding-right: 25px;
  padding-left: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.success-container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.success-wrapper {
  display: flex;
  min-width: 628px;
  padding: 42px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 44.7%, 0.3);
}

.msg-title {
  margin-bottom: 42px;
  font-family: Lato, sans-serif;
  color: #b38600;
  font-size: 32px;
  line-height: 46px;
  font-weight: 700;
}

.msg-excerpt {
  max-width: 583px;
  margin-bottom: 42px;
  font-family: Lato, sans-serif;
  color: #353535;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
.home-service-item
{
  text-decoration: none;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
</style> 

</div>
